<!DOCTYPE html>
<html lang="en">

    <head><title>Hacking the Sonoff R2 Basic (And Basically all Sonoffs) &ndash; sorrow&#39;s blog</title>
<meta name="description" content="Writing about Philosophy in Life and Technology.">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8"/>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.1/css/academicons.min.css" integrity="sha512-b1ASx0WHgVFL5ZQhTgiPWX+68KjS38Jk87jg7pe+qC7q9YkEtFq0z7xCglv7qGIs/68d3mAp+StfC8WKC5SSAg==" crossorigin="anonymous" />


<link rel="stylesheet" href="https://sorrowbird.codeberg.page/css/palettes/base16-dark.css">
<link rel="stylesheet" href="https://sorrowbird.codeberg.page/css/risotto.css">
<link rel="stylesheet" href="https://sorrowbird.codeberg.page/css/custom.css">
</head>

    <body>
        <div class="page">

            <header class="page__header"><h1 class="page__logo"><a href="https://sorrowbird.codeberg.page/" class="page__logo-inner">sorrow&#39;s blog</a></h1>
<nav class="page__nav main-nav">
    <ul>
    
    
    <li class="main-nav__item"><a class="nav-main-item active" href="https://sorrowbird.codeberg.page/post/" title="Posts">Posts</a></li>
    
    <li class="main-nav__item"><a class="nav-main-item" href="https://sorrowbird.codeberg.page/knowledge-garden/" title="Knowledge Garden">Knowledge Garden</a></li>
    
    <li class="main-nav__item"><a class="nav-main-item" href="https://sorrowbird.codeberg.page/donate/" title="donate">donate</a></li>
    
    <li class="main-nav__item"><a class="nav-main-item" href="https://sorrowbird.codeberg.page/about/" title="">About</a></li>
    
    </ul>
</nav>

</header>

            <section class="page__body">
    <header class="content__header">
        <h1>Hacking the Sonoff R2 Basic (And Basically all Sonoffs)</h1>
    </header>
    <div class="content__body">
        <p>This article covers first-hand my experience with hardware hacking, and describing it step by step.</p>
<h2 id="introduction">Introduction</h2>
<p>Recently, I went to market to buy a microcontroller, to be honest I wasn&rsquo;t really certain on what to buy, however I kept in mind it needs to have a Wi-Fi chip or at least a modern form of connection to help doing Internet Things, and what else better than an ESP! so I bought it and came back home and started fiddling with it, at first I have practiced flashing erasing dumping the memory until I felt like I am good at this point, I then installed the Micropython fiddled with it too; more on that later.</p>
<h2 id="sonoffs-unbelievably-hackable-products">Sonoff&rsquo;s unbelievably hackable products</h2>
<p>few months ago my father told me about someone who sells smart home products, IoT, Power Regulators Amps etc. and told me to buy a product that allegedly switch power on and off over Wi-Fi I bought it and brought it back home, and sure enough, it did just about that, after some IoT delight I left it for time to come.</p>
<p>few days later I decided to open it up and found out it has esp chipped (this is still from months ago back when the idea of having an ESP didn&rsquo;t cross my mind yet) I was like nice we might get some inspiration from this module and putted it back on, honestly it didn&rsquo;t cross my mind that this thing has pretty much open memory to dump and load.</p>
<p>fast-forward and few days ago I decided that I want to see what can I do with it some googling later and found out about <a href="https://templates.blakadder.com/sonoff_BASICR2.html">this</a>, this article gave me a clue about the hacking process and the do\don&rsquo;t that comes with it, if you are interested about this you can have a look but the fun didn&rsquo;t end here.</p>
<h2 id="the-journey-begins">The Journey Begins</h2>
<p>for having loads of free times means doing something useful with it, I soldered the UART pins on the Sonoff and then connected it to my Raspberry Pi, Why? because my CH340G was toasted by a ground short rendering it useless,then setting the serial up on the RPi as a Serial Port Not the Pi&rsquo;s terminal, I also installed esp-tool.py to flash and dump the firmware from that device, here, all the tools are ready now time for the real deal, to start keep this in mind:</p>
<p>{% include figure.html path=&ldquo;assets/img/14.jpg&rdquo; title=&ldquo;Picture of Sonoff R2 Basic connected to Raspberry Pi using UART&rdquo; class=&ldquo;img-fluid rounded z-depth-1&rdquo; %}</p>
<ul>
<li>
<p>The MCU on the Sonoff is esp8285 which has internal 1MB of flash Memory working on DOUT mode, this isn&rsquo;t much of a concern to us really as the only thing we want to do is to dump and load firmwares, Also 1MB is more than Enough for multitude of things we can think of (RAM-like esp8266-is small tho at 112KB only!).</p>
</li>
<li>
<p>The MCU Works in different modes and not touching the switch will put it into Operation Mode</p>
</li>
<li>
<p>The Logic Voltage of the MCU is 3.3V DON&rsquo;T UNDER ANY CIRCUMSTANCES POWER THE MCU WITH 5V!!! IT COULD EASILY KILL THE MCU!</p>
</li>
<li>
<p>The Switch has 220/110V (Depends on the region Sold for) HV circuitry HOWEVER IT SHOULD NEVER BE POWERED WITH 220V WHILE BEING EXPOSED, IT RISKS GETTING YOU SHOCKED, OR WORSE DAMAGE THE BOARD SO ONLY USE THE UART TO POWER THE MCU!</p>
</li>
</ul>
<p>with that out of the way let&rsquo;s commence!</p>
<h2 id="dumping-the-firmware">Dumping the Firmware</h2>
<p>to do so we must enter the flashing mode, remove the power from the board and hold the button while powering it again, it should never blink once, if this happened; then you are in flash mode, if it blinked or LED turned on and off and heard the relay tick then you didn&rsquo;t enter flashing mode.</p>
<p>afterward we can execute this command to let us dump the flash memory.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-bash" data-lang="bash"><span style="display:flex;"><span>:~ $ esptool.py read_flash 0x00000 0x100000 fwbackup.bin    
</span></span></code></pre></div><p>Normally if things went alright you should see this output going:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-txt" data-lang="txt"><span style="display:flex;"><span>esptool.py v4.5.1
</span></span><span style="display:flex;"><span>Found 1 serial ports
</span></span><span style="display:flex;"><span>Serial port /dev/ttyAMA0
</span></span><span style="display:flex;"><span>Connecting.....
</span></span><span style="display:flex;"><span>Detecting chip type... Unsupported detection protocol, switching and trying again...
</span></span><span style="display:flex;"><span>Connecting...
</span></span><span style="display:flex;"><span>Detecting chip type... ESP8266
</span></span><span style="display:flex;"><span>Chip is ESP8285N08
</span></span><span style="display:flex;"><span>Features: WiFi, Embedded Flash
</span></span><span style="display:flex;"><span>Crystal is 26MHz
</span></span><span style="display:flex;"><span>MAC: 24:a1:60:19:aa:75
</span></span><span style="display:flex;"><span>Uploading stub...
</span></span><span style="display:flex;"><span>Running stub...
</span></span><span style="display:flex;"><span>Stub running...
</span></span><span style="display:flex;"><span>1048576 (100 %)
</span></span><span style="display:flex;"><span>1048576 (100 %)
</span></span><span style="display:flex;"><span>Read 1048576 bytes at 0x00000000 in 96.1 seconds (87.3 kbit/s)...
</span></span><span style="display:flex;"><span>Hard resetting via RTS pin...
</span></span></code></pre></div><h2 id="installing-micropython-firmware">Installing Micropython Firmware</h2>
<p>This is so cool! but now here is the cooler Part! How about we install micropython on this thing and write our own code! say I want to make the same board turn the relay on and off with a click of a button here is how to do it.</p>
<p>first let&rsquo;s go back to our friend <a href="https://templates.blakadder.com/sonoff_BASICR2.html">here</a> he explained what every GPIO on the MCU is used for but our attention for this right now will only go to GPIO00 (BUTTON) and GPIO12 (RELAY), so basically one will do output and one will do input.</p>
<p>with that said head over to <a href="http://micropython.org/download#esp8266">ESP8266 MicroPython Download&rsquo;s Page</a> as 8285 is pretty much 8266 with internal flash memory and download the latest stable build.</p>
<p>to flash the firmware power cycle the board while holding the BUTTON, and it will not blink indicating it&rsquo;s on programming mode then enter the following command.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-bash" data-lang="bash"><span style="display:flex;"><span> :~ $ esptool.py --port PORTNAME erase_flash
</span></span><span style="display:flex;"><span> :~ $ esptool.py --port PORTNAME --baud <span style="color:#ae81ff">115200</span> --chip auto write_flash 0x0 esp8266-1m-20220618-v1.19.1.bin -fs 1MB -fm dout
</span></span></code></pre></div><p>at the end you should See this :D</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-txt" data-lang="txt"><span style="display:flex;"><span>Configuring flash size...
</span></span><span style="display:flex;"><span>Flash will be erased from 0x00000000 to 0x00090fff...
</span></span><span style="display:flex;"><span>Flash params set to 0x0020
</span></span><span style="display:flex;"><span>Compressed 591476 bytes to 392427...
</span></span><span style="display:flex;"><span>Wrote 591476 bytes (392427 compressed) at 0x00000000 in 35.0 seconds (effective 135.2 kbit/s)...
</span></span><span style="display:flex;"><span>Hash of data verified.
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>Leaving...
</span></span><span style="display:flex;"><span>Hard resetting via RTS pin...   
</span></span></code></pre></div><p>cool now do a power cycle again for the last time hopefully and access the micropython interpreter using the Serial Terminal, you can use Putty, Screen, or Picom depending on your preference and access the board&rsquo;s UART with baud rate of 115200 bps like this for example</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-bash" data-lang="bash"><span style="display:flex;"><span>screen /dev/ttyAMA0 <span style="color:#ae81ff">115200</span>
</span></span></code></pre></div><p>you should see this everytime you power-cycle of do a soft reset</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-txt" data-lang="txt"><span style="display:flex;"><span>MicroPython v1.19.1 on 2022-06-18; ESP module (1M) with ESP8266
</span></span><span style="display:flex;"><span>Type &#34;help()&#34; for more information.
</span></span><span style="display:flex;"><span>&gt;&gt;&gt; 
</span></span></code></pre></div><p>now let&rsquo;s do a test and write a code to test if everything is alright</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-python" data-lang="python"><span style="display:flex;"><span><span style="color:#f92672">from</span> machine <span style="color:#f92672">import</span> Pin
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#75715e"># set up the GPIO pins</span>
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>button <span style="color:#f92672">=</span> Pin(<span style="color:#ae81ff">0</span>, Pin<span style="color:#f92672">.</span>IN, Pin<span style="color:#f92672">.</span>PULL_UP)
</span></span><span style="display:flex;"><span>relay <span style="color:#f92672">=</span> Pin(<span style="color:#ae81ff">12</span>, Pin<span style="color:#f92672">.</span>OUT)
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#66d9ef">while</span> <span style="color:#66d9ef">True</span>:
</span></span><span style="display:flex;"><span>    <span style="color:#75715e"># check if the button is pressed</span>
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">if</span> <span style="color:#f92672">not</span> button<span style="color:#f92672">.</span>value():
</span></span><span style="display:flex;"><span>        <span style="color:#75715e"># turn on the relay</span>
</span></span><span style="display:flex;"><span>        relay<span style="color:#f92672">.</span>value(<span style="color:#ae81ff">1</span>)
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">else</span>:
</span></span><span style="display:flex;"><span>        <span style="color:#75715e"># turn off the relay</span>
</span></span><span style="display:flex;"><span>        relay<span style="color:#f92672">.</span>value(<span style="color:#ae81ff">0</span>)
</span></span></code></pre></div><p>paste the code on the terminal and try pressing the button and the relay and its LED should light!</p>
<h2 id="conclusion">Conclusion</h2>
<p>these are really fun devices to play with, we started from simple purposed device like an IoT Switch and ended up with programmable switch where we can do anything with, like imagine if I wanted that switch to start and stop at certain time, it would be awesome when it&rsquo;s needed, finally, I hope you learned something, and it was a good time reading and peace!</p>
<hr>
<h3 id="special-thanks">Special Thanks</h3>
<ul>
<li>aaron: for being the First Supporter for the blog!</li>
</ul>
<p>Consider donating <a href="https://sorrowbird.codeberg.page/donate/">Here</a> To Get Shout out like the one on top, Thanks!</p>

<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<div id="comment-section"></div>
<script>
initComments({
  node: document.getElementById("comment-section"),
  defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
  serverName: "cactus.chat",
  siteName: "sorrowbird-chat",
  commentSectionId: "hardware-hacking-chat"
})
</script>
    </div>
    <footer class="content__footer"></footer>

            </section>

            <section class="page__aside">
                <div class="aside__about">
<div class="aside__about">
    <img class="about__logo" src="https://sorrowbird.codeberg.page/images/rice.svg" alt="Logo">
<h1 class="about__title">sorrowbird..</h1>
<p class="about__description">Writing about Philosophy in Life and Technology.</p>
</div>


<ul class="aside__social-links">
    
    <li>
        <a href="https://github.com/MuhammedSabbagh" rel="me" aria-label="GitHub" title="GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>&nbsp;
    </li>
    
    <li>
        <a href="mailto:muhammedasabbagh@gmail.com" rel="me" aria-label="Email" title="Email"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>&nbsp;
    </li>
    
    <li>
        <a href="https://t.me/MuhammedSabbagh" rel="me" aria-label="telegram" title="telegram"><i class="fa-brands fa-telegram" aria-hidden="true"></i></a>&nbsp;
    </li>
    
    <li>
        <a href="https://mastodon.online/MuhammedSabbagh" rel="me" aria-label="mastodon" title="mastodon"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a>&nbsp;
    </li>
    
    <li>
        <a href="https://codeberg.org/sorrowbird" rel="me" aria-label="codeberg" title="codeberg"><i class="fa-normal fa-codeberg" aria-hidden="true"></i></a>&nbsp;
    </li>
    
</ul>
</div>
                <hr>
                <div class="aside__content">
    <p>hardware hacking is The computer engineer&#39;s delight when things work exactly the way it shouldn&#39;t do!</p>
    
        <p>
            By sorrowbird, 
            2023-03-22
        </p>
    

                </div>
            </section>

            <footer class="page__footer"><p>
    
    
    
    
    
    
      
    
      
    
      
    
      
    
    
    
</p>
<br /><br />
<p class="copyright">© 2023 sorrowbird&rsquo;s Public Works 1.0</p>
<p class="advertisement">Powered by <a href="https://gohugo.io/">hugo</a> and <a href="https://github.com/joeroe/risotto">risotto</a>.</p>
</footer>

        </div>
    </body>

</html>
